.display-none{
	display:none;
}

.delete{
	width: 300px;
	border: 1px solid black;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
/*	margin-right: 15px;
	margin-bottom: 15px;*/
}

.ui-datepicker{
	z-index: 1000 !important;
}

.margin_bottom_15{
	margin-bottom: 15px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 180px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
}


.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}


.taille_checkbox{
	width: 280px !important;
}